.git
.gitignore
build/
.picoclaw/
config/
.env
.env.example
*.md
!workspace/*.md
!workspace/**/*.md
!workspace-template/*.md
!workspace-template/**/*.md
LICENSE
assets/
**/node_modules/
web/frontend/node_modules/
*.exe
logs/
tmp/
